/*Html*/
*
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    border:0 none;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body
{
    line-height: 1;
}

ul
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

/* Master Page*/
#page-container
{
}

#header-container
{
}

#content-container
{
}

#page-content
{
}

#sidebar-content
{
}

#footer-container
{
}

/* Site Global - Tags*/
.tag
{
}

.tag-link
{
}

.moderator-tag
{
}

/* Header Control */
.search-container
{
}

.search-bar
{
}

.search-text-box
{
}

.site-menu-container
{
}

.site-menu
{
}

.site-menu-item
{
}

.site-menu-item-selected
{
}

.site-menu-item-link
{
}

.navigation-menu-container
{
}

.navigation-menu
{
}

.navigation-menu-item
{
}

.navigation-menu-item-selected
{
}

.navigation-menu-item-link
{
}

.sub-navigation-menu-container
{
}

.sub-navigation-menu
{
}

.sub-navigation-menu-item
{
}

.sub-navigation-menu-item-selected
{
}

.sub-navigation-menu-item-link
{
}

/* Pager Control */
.pager-container
{
}

.pager-items
{
}

.pager-item
{
}

.pager-item-selected
{
}

.pager-item-link
{
}

.page-size-container
{
}

.page-size-items
{
}

.page-size-item
{
}

.page-size-item-selected
{
}

.page-size-item-link
{
}

/*Questions*/
.questions-container
{
}

.question-container
{
}

.question-vote-answers
{
}

.question-vote-count
{
}

.question-vote-views
{
}

.question-vote-answers-text
{
}

.question-vote-count-text
{
}

.question-vote-views-text
{
}

.question
{
}

.question-title
{
}

.question-title-link
{
}

.external-link
{
}

.external-link-image
{
}

.question-body
{
}

.tags-container
{
}

.user-container
{
}



























































