/*http://colorschemedesigner.com/#3v41R2zGr52Wr light*/
/*http://colorschemedesigner.com/#3v41RqVvfhoYf dark*/
/*Html*/
*
{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent none repeat scroll 0 0;
    border:0 none;
    font-size:100%;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body
{
    line-height: 1;
    text-align: center;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
    font-size: 13px;
    background: 
}

ul
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

/* Master Page*/
#page-container
{
	text-align: left;
	width: 900px;
	margin: 0 auto;
	display: block;
}

#header-container
{
}

#content-container
{
}

#page-content
{
}

#sidebar-content
{
}

#footer-container
{
}

/* Site Global - Tags*/
.tag
{
}

.tag-link
{
}

.moderator-tag
{
}

/* Header Control */
.search-container
{
	position:relative;
	background-color: #7DB0FF;
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	float: right;
	height: 28px;
	line-height: 22px;
	overflow: hidden;
	width: auto;
	right: 0px;
	z-index: 2;
	top:-5px;
	padding: 5px 8px 5px 8px;
}

.search-bar
{
}

.search-text-box
{
	margin: 0px;
	max-width: 200px;
	width: 200px;
	padding: 3px;
	background: #ffffff;
}

.site-menu-container
{

	background-color: #E9E9E9;
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	float: left;
	margin: 0px;
	height: 28px;
	line-height: 22px;
	overflow: hidden;
	width: 100%;
	z-index: 1;
	padding: 5px 0px 5px 8px;
	border-left: 1px silver solid;
		border-bottom: 1px silver solid;
			border-right: 1px silver solid;
}

.site-menu
{
	margin: 0px;
	-webkit-padding-start: 40px;
	display: block;
	background: transparent;
	border: 0px;
	font-size: 100%;
	padding: 0px;
	vertical-align: baseline;
}

.site-menu ul
{
	list-style: disc;
}

.site-menu li
{
	float: left;
}

.site-menu-item
{
}

.site-menu-item-selected
{
}

.site-menu-item-link
{
}

.navigation-menu-container
{
}

.navigation-menu
{
}

.navigation-menu-item
{
}

.navigation-menu-item-selected
{
}

.navigation-menu-item-link
{
}

.sub-navigation-menu-container
{
}

.sub-navigation-menu
{
}

.sub-navigation-menu-item
{
}

.sub-navigation-menu-item-selected
{
}

.sub-navigation-menu-item-link
{
}

/* Pager Control */
.pager-container
{
}

.pager-items
{
}

.pager-item
{
}

.pager-item-selected
{
}

.pager-item-link
{
}

.page-size-container
{
}

.page-size-items
{
}

.page-size-item
{
}

.page-size-item-selected
{
}

.page-size-item-link
{
}

/*Questions*/
.questions-container
{
}

.question-container
{
}

.question-vote-answers
{
}

.question-vote-count
{
}

.question-vote-views
{
}

.question-vote-answers-text
{
}

.question-vote-count-text
{
}

.question-vote-views-text
{
}

.question
{
}

.question-title
{
}

.question-title-link
{
}

.external-link
{
}

.external-link-image
{
}

.question-body
{
}

.tags-container
{
}

.user-container
{
}



























































